.layanan .layanan-content .c-img img{
    max-width: 35%;
}


.layanan .nav-tabs .nav-item {
    width: 100%;
}

.layanan .nav-tabs .nav-link {
    color: #000;
    padding: 5px 1rem;
    position: relative;
}

.layanan .nav-tabs .nav-link::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 0;
    background: #000;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.layanan .nav-tabs .nav-link.active, .layanan .nav-tabs .nav-link:hover {
    color: #0D438D ;
    background-color: transparent;
    border-color: transparent;
}

.layanan .nav-tabs .nav-link:hover::before {
    background: #0D438D;
}

.layanan .tab-content .border-row {
    border: 1px solid #eaeaea;
    border-bottom: 5px solid #0D438D;
    padding: 20px;
}


.detail-layanan .img-layanan img {
    max-width: 60%;
}


